* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #0f1112;
}

:root {
  --grey: #333333;
  --dark: #0C0C0C;
  --red: #E14938;
  --bg: #0F1112;
  --bg1: #666666;
  --lightGrey: #999999;
}

.bg-Grey {
  background-color: var(--grey);
}

.bg-Dark {
  background-color: var(--dark);
}

.text-grey {
  color: var(--lightGrey);
}

.Border {
  border-right: 1px solid rgb(26, 26, 26);
  border-left: 1px solid rgb(26, 26, 26);
}

.Border-right {
  border-right: 1px solid rgb(26, 26, 26);
}

.Border-left {
  border-left: 1px solid rgb(26, 26, 26);
}

.width {
  width: 50%;
}

.sm-screen {
  display: none;
}

.bg-Red {
  background-color: var(--red);
}

.text-Red {
  color: #E14938 !important;
}

.navbar {
  padding-bottom: 0px;
  padding-top: 0px;
}

.cart {
  margin-left: 20px;
}

.priceTag {
  padding: 10px;
  background-color: #E14938;
  color: white;
  position: absolute;
  top: -30%;
  left: 63%;
}

.checked {
  color: orange;
}

.starRating {
  margin-left: 10px;
}

.bor-radius{
  border-radius: 5px;
}

.bg-gray{
  background-color: #EBECF0;
}

.MainCarousel{
  z-index: -1;
}

.img_upload{
  display: none;
}

.img_upload_btn{
  padding: 10px 25px;
  background-color: #E14938;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  border: 1px solid lightgray;
  padding: 0px;
}

.Card:hover .cardFooter {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cardBody {
  background-color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  transition: all .4s ease-in-out;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  border-top: 1px solid lightgray;
  transform: translateY(100px);
  transition: all .4s ease-in-out;
}

.cardHeading {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
}

.cartIcon {
  border: 1px solid lightgray;
  padding: 5px 10px;
}

.cartIcon:hover {
  background-color: #E14938;
  color: white;
  border: 1px solid #E14938;
}

.heading {
  font-size: 22px;
  font-weight: bold;
}

.main {
  position: absolute;
  margin-top: -200px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.login-main {
  position: absolute;
  margin-top: 0px;
  top: 250px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.contact-main  {
  position: absolute;
  margin-top: 0px;
  top: 150px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.login-heading{
  display: none;
  font-size: 42px;
  font-weight: bold;
  width: 130px;
  color: white;
  position: absolute;
  margin-top: -500px;
  left: 15%;
  right: 0px;
  margin-left: 0;
  margin-right: auto;
  border-bottom: 5px solid #E14938;
}

.login-card{
  width: 60%;
  padding: 30px 50px;
  border-radius: 15px;
  background-color: white;
  margin: 0 auto;
  border: 2px solid #E14938;
}

.btn-Red:hover{
  background-color: #E14938;
  color: white;
  border: 2px solid white;
}

.btn-Red{
  background-color: white;
  border: 2px solid #E14938;
  color: black;
}

.btn2-Red{
  background-color: #E14938;
  color: white;
  border: 2px solid white;
}

.btn2-Red:hover{
  background-color: white;
  border: 2px solid #E14938;
  color: black;
}

.not-main {
  z-index: 0;
}

.header-login-btn:hover{
  text-decoration: underline;
  color: #E14938;
}

.listCont {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.listItem {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.imgCont {
  padding: 0px;
  margin: 0px;
  padding: 0px 5px;
  max-height: 0;
  transition: 0.6s ease-out;
  overflow: hidden;
}

.imgCont2 {
  padding: 0px;
  margin: 0px;
  padding: 0px 5px;
  max-height: 0;
  transition: 0.8s ease-in;
  overflow: hidden;
}

.listSubItem {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: -5px;
}

.listItem:hover .imgCont {
  max-height: 500px;
  transition: 1s ease-in;
}

.listItem:hover .imgCont2 {
  max-height: 500px;
  transition: 1s ease-out;
}



.sNO {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 0px;
}

.bhashan {
  border: 1px solid lightgray;
  border-left: none;
  padding: 10px;
  width: 100%;
}

a {
  color: transparent;
  background-color: transparent;
  text-decoration: none;
}


.outer {
  position: relative;
  background-color: #eee;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.inner {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: 300ms;
}

.outer:hover .inner {
  transform: translateY(0);
}

.second-header{
  width: 98%;
  margin: auto;
}

.our_products:hover{
  background-color: #E14938;
  color: white;
}

ul, li{
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.colorDefault{
  color: #E14938;
  background-color: #E14938;
}

.second-container{
  border-top: 2px solid #E14938;
  border-bottom: 3px solid #E14938;
  padding-top: 2em;
  padding-bottom: 2em;
}

.hot_tag{
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 80%;
  margin: auto;
  background-color: #E14938;
}

.flex-width{
  width: 70%;
}

.flex-width2{
  width: 30%;
  display: flex;
  align-items: center;
}

.footer-1{
  display: block;
  position: relative;
}

.footer-1-item{
  display: flex;
  flex-direction: row;
}

.footer-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-img-cont{
  display: flex;
  align-items: center;
}

.img-border{
  border: 3px solid white;
  border-radius: 50%;
  color: white;
}

.footer-border{
  border-bottom: 2px solid black;
}

.md-footer{
  display: flex;
  flex-direction: column;
}

.media-footer-icons{
  padding: 20px 0px 20px 0px;
  margin-top: 10px;
}

.border-bug{
  border: 2px solid red;
}

.border-footer-header{
  border-bottom: 2px solid #E14938;
}

.footer-last-border{
  border-top: 2px solid black;
}

.colorRegister{
  color: #E14938;
}


.colorRegister:hover{
  color: #E14938;
  text-decoration: underline;
}

.form-control:focus {
  border-color: #E14938;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.lol{
  max-height: 100%;
}


.position{
  position: relative;
}

.height_100{
  min-height: 100%;
}

.our_products{
  cursor: pointer;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0f1112; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: white;
  opacity: 1;
}

.Rounded{
  border-radius: 15px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

.side-bar-control{
  display: none;
}

#secondary-main{
  display: none;
  color: white;
  text-align: center;
  font-size: 24px;
}

.cart-table{
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 3rem;
}

.btn-orange{
  background: var(--red) !important;
  color: white;
}

.btn-orange:hover{
  background: var(--red) !important;
  color: white;
  opacity: 0.95;
}

#user-login{
  display: none;
}


/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4e4d4d;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.product_desc_price{
  display: block;
}

.product_desc_price{
  padding: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
}

.product_detail{
  padding: 30px;
}

.product_desc_name{
  padding: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .media-center {
    text-align: center;
  }

  .cart {
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 0px;
  }

  .md-screen {
    display: none;
  }


  .sm-screen {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .footer-1{
    width: 100%;
    justify-content: space-evenly;
  }
  
  .md-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .media-footer-icons{
    padding: 0px;
  }

  .login-main {
    margin-top: 0px
  }

  .contact-main {
    margin-top: -175px;
  }

  .login-card{
    width: 85%;
  }

}

@media only screen and (min-width: 1280px) {
  .priceTag {
    left: 70%;
  }
  
}

@media only screen and (max-width: 1280px) {
  .login-heading{
    display: none;
  }

  .contact-main {
    margin-top: -350px;
  }
  
}

@media only screen and (max-width: 1099px) {
  .media-none{
    display: none;
  }

  .cart {
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 640px) {
  .priceTag {
    left: 73%;
  }

  .footer-1{
    width: 100%;
  }

  .main {
    margin-top: -80px;
  }

  .login-main {
    margin-top: 0px;
  }

  .contact-main {
    margin-top: -60px;
  }

  .login-card{
    width: 95%;
  }

  .media_products_responsive{
    display: block;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 762px) {
  #main{
    display: none;
  }

  #secondary-main{
    display: block;
  }
}